<h1>Burgers All Day</h1>

{{#each burgers}}
  <p>
    {{this.burger_name}}
    <form action="/{{this.id}}?_method=PUT" method="POST" class="button-size">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Devour</button>
    </form>
  </p>
{{/each}}

<h2>Add a Burger</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="burger_name"></textarea>
	<button type="submit">Add Burger!</button>
</form>
